@keyframes fadeDescendo {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLado {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

header {
  animation: fadeDescendo 2s ease;
}

.navTitles {
  color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  font-size: medium;
  outline: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navTitles:hover {
  color: rgb(146, 142, 142);
}


.navbar-brand img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar-brand img:hover {
  filter: brightness(0.6);
}

.hero-section {
  display: flex;
  align-items: center;
  height: 600px;
  padding: 0 8%;
  overflow: hidden;
  animation: fadeLado 3s ease;
  
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
}

.hero-text {
  flex: 1;
  color: rgb(122, 122, 122);
  font-family: 'Raleway', sans-serif;
}

.hero-text h1 {
  color: rgb(0, 0, 0);
}