<footer class="text-justify ">
    <div class="container">
      <p class="footer-contet">&copy; 2025 Rafael Fagundes</p>
    </div>

    <!-- Ícones sociais -->
    <div class="social-links" id="social-links-id">
      <a class="social-links" href="https://www.linkedin.com/in/rafael-fagundes-518974258" target="_blank"
        onclick="successTransition('Linkedin', event)">
        <i class='bx bxl-linkedin fs-2'></i>
      </a>
      <a class="social-links" href="https://www.instagram.com/fagundes.icm/?hl=pt-br" target="_blank"
        onclick="successTransition('Instagram', event)">
        <i class='bx bxl-instagram fs-2 ms-3'></i>
      </a>
      <a class="social-links" href="https://github.com/FalconTFagundes" target="_blank"
        onclick="successTransition('Github', event)">
        <i class='bx bxl-github fs-2 ms-3'></i>
      </a>
      <a class="social-links" href="https://www.facebook.com/profile.php?id=100013959692622" target="_blank"
        onclick="successTransition('Facebook', event)">
        <i class='bx bxl-facebook fs-2 ms-3'></i>
      </a>
    </div>
  </footer>